 .u-section-1 {
  background-image: url("images/76393785-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1243px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0 396px;
}

.u-section-1 .u-text-2 {
  width: 740px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 26px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 1042px;
  background-image: url("images/2403e381d80f4fa524a14a5be1f00db0f74097de484f7db985a42aed514cd4c3a40cc82276b7b2c9ff0bd938280268ddc3c115f722b4d413c67150_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 40px 0 0;
}

.u-section-1 .u-group-1 {
  width: 490px;
  min-height: 246px;
  background-image: linear-gradient(#db545a, #6b4748);
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 16px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-group-2 {
  width: 490px;
  min-height: 246px;
  background-image: linear-gradient(#db545a, #6b4748);
  margin: 40px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 16px auto 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-1 .u-btn-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-group-3 {
  width: 490px;
  min-height: 246px;
  background-image: linear-gradient(#db545a, #6b4748);
  height: auto;
  margin: 40px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  margin: 16px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-1 .u-btn-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-image-2 {
  min-height: 1042px;
  background-image: url("images/2403e381d80f4fa524a14a5be1f00db0f74097de484f7db985a42aed514cd4c3a40cc82276b7b2c9ff0bd938280268ddc3c115f722b4d413c67150_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 3rem;
  margin: 40px 0 0;
}

.u-section-1 .u-group-4 {
  width: 490px;
  min-height: 246px;
  background-image: linear-gradient(#478ac9, #425465);
  margin: 20px -5px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-14 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-15 {
  margin: 16px auto 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-1 .u-btn-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-group-5 {
  width: 490px;
  min-height: 246px;
  background-image: linear-gradient(#478ac9, #425465);
  height: auto;
  margin: 40px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-17 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-18 {
  margin: 16px auto 0;
}

.u-section-1 .u-text-19 {
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-1 .u-btn-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-group-6 {
  width: 490px;
  min-height: 246px;
  background-image: linear-gradient(#478ac9, #425465);
  margin: 40px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-20 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-21 {
  margin: 16px auto 0;
}

.u-section-1 .u-text-22 {
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-1 .u-btn-6 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 684px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 327px;
  }

  .u-section-1 .u-image-1 {
    min-height: 859px;
  }

  .u-section-1 .u-group-1 {
    width: 400px;
  }

  .u-section-1 .u-group-2 {
    width: 400px;
  }

  .u-section-1 .u-group-3 {
    width: 400px;
    height: auto;
  }

  .u-section-1 .u-image-2 {
    min-height: 859px;
  }

  .u-section-1 .u-group-4 {
    width: 400px;
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    width: 400px;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    width: 400px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 314px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 250px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 658px;
  }

  .u-section-1 .u-group-1 {
    width: 290px;
  }

  .u-section-1 .u-group-2 {
    width: 290px;
  }

  .u-section-1 .u-group-3 {
    width: 290px;
  }

  .u-section-1 .u-image-2 {
    min-height: 658px;
  }

  .u-section-1 .u-group-4 {
    width: 290px;
  }

  .u-section-1 .u-group-5 {
    width: 290px;
  }

  .u-section-1 .u-group-6 {
    width: 290px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 414px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 188px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 987px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 987px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 118px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 621px;
  }

  .u-section-1 .u-image-2 {
    min-height: 621px;
  }
}